@model ProjetScolariteSOLID.ViewModels.EtudiantsViewModel

<div class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Nom</label>
        <input name="Nom" class="form-control" required />
    </div>
    <div class="col-md-6">
        <label class="form-label">Prénom</label>
        <input name="Prenom" class="form-control" required />
    </div>
    <div class="col-md-8">
        <label class="form-label">Email</label>
        <input name="Email" class="form-control" type="email" required />
    </div>
    <div class="col-md-4">
        <label class="form-label">Téléphone</label>
        <input name="Telephone" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Date de naissance</label>
        <input name="DateNaissance" class="form-control" type="date" required />
    </div>
    <div class="col-12">
        <label class="form-label">Adresse</label>
        <input name="Adresse" class="form-control" />
    </div>
</div>
